*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 10vh 85vh repeat(8, min-content);

    background-color: aqua;
}
.nav {
    grid-column: full-start / full-end;
    background-color: bisque;
    display: grid;
}
