<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Services</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body class="container">
        <nav class="nav">
            <span class="logo">A</span>
            <ul class="nav_header">
                <li>Home</li>
                <li class="nav_diff">Services</li>
                <li>Offers</li>
                <li>Blogs</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </nav>
        <header class="header">
            <h4>CLEANING SERVICES WITHIN YOUR BUDGET</h4>
            <h2>
                We Offer Cleaning Services for Your Home In Abu Dhabi With
                Assured Quality Standards
            </h2>
            <button class="button">REQUEST QUOTE</button>
        </header>
        <section class="span">
            <h3>Why Choose Us</h3>
            <div class="span_div">
                <h2>On Demand Service</h2>
                <h3>
                    Your need is our command. Just pick a time for the cleaning
                    service and leave the rest to us.
                </h3>
            </div>
            <div class="span_div">
                <h2>Cherry Picked Professionals</h2>
                <h3>
                    We have trained and verified professionals that assure
                    delivering work with high quality standards.
                </h3>
            </div>
            <div class="span_div">
                <h2>Efficient Cleaning at Affordable Prices</h2>
                <h3>
                    Your need is our command. Just pick a time for the cleaning
                    service and leave the rest to us.
                </h3>
            </div>
            <div class="span_div">
                <h2>On-time Delivery</h2>
                <h3>
                    Your need is our command. Just pick a time for the cleaning
                    service and leave the rest to us.
                </h3>
            </div>
        </section>
        <section class="book">
            <h1>We Take The Hassle Out of Your Home or Workplace</h1>
            <h3>
                We Understand the Importance of Having a Clean and Healthy Home
                or Workplace! Book House Cleaning or Office Cleaning Services
                from Us
            </h3>
            <h3>
                Your home is your sanctuary and you always wish to come back to
                a clean house. We make it possible for you! Our reliable
                cleaning services will keep your residence spic and span. Do you
                need the house cleaned to reduce allergens, dust or mites? Do
                you want the entire house cleaned from top to bottom, or just a
                few rooms? Just let us know what you need, and we will have your
                house cleaned and ready in no time.
            </h3>
        </section>
    </body>
</html>
